@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:focus-visible:not(input) {
	outline-color: rgb(var(--color-surface-400)) !important;
	outline-style: solid !important;
	outline-width: var(--theme-border-base) !important;
}

input:focus-visible {
	outline-style: unset !important;
}

.modal *:focus:not(:focus-visible) {
	outline-style: unset !important;
}
