@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import './theme.css';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

:focus-visible:not(input) {
	outline-color: var(--color-surface-500) !important;
	outline-style: solid !important;
	outline-width: var(--default-ring-width) !important;
}

input:focus-visible {
	outline-style: unset !important;
}

.modal *:focus:not(:focus-visible) {
	outline-style: unset !important;
}
