@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

:focus-visible {
	outline-color: rgb(var(--color-surface-400));
	outline-style: solid;
	outline-width: var(--theme-border-base);
}
