[data-theme='listen-later'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
		monospace;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-400);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0;
	--radius-container: 0;
	--default-border-width: 4px;
	--default-divide-width: 4px;
	--default-ring-width: 4px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(100% 0 none);
	--color-primary-100: oklch(91.89% 0 none);
	--color-primary-200: oklch(83.59% 0 none);
	--color-primary-300: oklch(75.08% 0 none);
	--color-primary-400: oklch(66.33% 0 none);
	--color-primary-500: oklch(57.27% 0 none);
	--color-primary-600: oklch(48.91% 0 none);
	--color-primary-700: oklch(40.17% 0 none);
	--color-primary-800: oklch(30.92% 0 none);
	--color-primary-900: oklch(20.9% 0 none);
	--color-primary-950: oklch(0% 0 none);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(100% 0 none);
	--color-secondary-100: oklch(100% 0 none);
	--color-secondary-200: oklch(100% 0 none);
	--color-secondary-300: oklch(100% 0 none);
	--color-secondary-400: oklch(100% 0 none);
	--color-secondary-500: oklch(100% 0 none);
	--color-secondary-600: oklch(92.19% 0 none);
	--color-secondary-700: oklch(84.21% 0 none);
	--color-secondary-800: oklch(76.04% 0 none);
	--color-secondary-900: oklch(67.64% 0 none);
	--color-secondary-950: oklch(58.97% 0 none);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(90.75% 0.03 17.77deg);
	--color-tertiary-100: oklch(80.33% 0.07 18.67deg);
	--color-tertiary-200: oklch(70.04% 0.11 20.2deg);
	--color-tertiary-300: oklch(60.9% 0.15 22.67deg);
	--color-tertiary-400: oklch(53.22% 0.19 26.32deg);
	--color-tertiary-500: oklch(48.35% 0.2 29.23deg);
	--color-tertiary-600: oklch(44.73% 0.18 29.23deg);
	--color-tertiary-700: oklch(40.82% 0.17 29.23deg);
	--color-tertiary-800: oklch(37.03% 0.15 29.23deg);
	--color-tertiary-900: oklch(32.93% 0.14 29.23deg);
	--color-tertiary-950: oklch(28.91% 0.12 29.23deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(94.02% 0.05 145.16deg);
	--color-success-100: oklch(87.42% 0.1 144.68deg);
	--color-success-200: oklch(81.15% 0.15 144.06deg);
	--color-success-300: oklch(75.77% 0.19 143.38deg);
	--color-success-400: oklch(70.83% 0.22 142.79deg);
	--color-success-500: oklch(66.71% 0.23 142.5deg);
	--color-success-600: oklch(61.71% 0.21 142.5deg);
	--color-success-700: oklch(56.32% 0.19 142.5deg);
	--color-success-800: oklch(51.09% 0.17 142.5deg);
	--color-success-900: oklch(45.43% 0.15 142.5deg);
	--color-success-950: oklch(39.89% 0.14 142.5deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(97.07% 0.04 90.63deg);
	--color-warning-100: oklch(93.8% 0.08 89.98deg);
	--color-warning-200: oklch(90.91% 0.12 90.24deg);
	--color-warning-300: oklch(88.08% 0.15 88.72deg);
	--color-warning-400: oklch(85.66% 0.17 86.6deg);
	--color-warning-500: oklch(83.28% 0.17 82.05deg);
	--color-warning-600: oklch(76.86% 0.16 82.29deg);
	--color-warning-700: oklch(70.3% 0.14 82.59deg);
	--color-warning-800: oklch(63.58% 0.13 82.97deg);
	--color-warning-900: oklch(56.68% 0.12 83.46deg);
	--color-warning-950: oklch(49.57% 0.1 84.14deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(90.75% 0.03 17.77deg);
	--color-error-100: oklch(80.33% 0.07 18.67deg);
	--color-error-200: oklch(70.04% 0.11 20.2deg);
	--color-error-300: oklch(60.9% 0.15 22.67deg);
	--color-error-400: oklch(53.22% 0.19 26.32deg);
	--color-error-500: oklch(48.35% 0.2 29.23deg);
	--color-error-600: oklch(44.73% 0.18 29.23deg);
	--color-error-700: oklch(40.82% 0.17 29.23deg);
	--color-error-800: oklch(37.03% 0.15 29.23deg);
	--color-error-900: oklch(32.93% 0.14 29.23deg);
	--color-error-950: oklch(28.91% 0.12 29.23deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-light);
	--color-error-contrast-500: var(--color-error-contrast-light);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(100% 0 none);
	--color-surface-100: oklch(91.89% 0 none);
	--color-surface-200: oklch(83.59% 0 none);
	--color-surface-300: oklch(75.08% 0 none);
	--color-surface-400: oklch(66.33% 0 none);
	--color-surface-500: oklch(57.27% 0 none);
	--color-surface-600: oklch(48.91% 0 none);
	--color-surface-700: oklch(40.17% 0 none);
	--color-surface-800: oklch(30.92% 0 none);
	--color-surface-900: oklch(20.9% 0 none);
	--color-surface-950: oklch(0% 0 none);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-dark);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}
